@import url(http://weloveiconfonts.com/api/?family=fontelico);

/* fontelico icon font */
[class*="fontelico-"]:before {
  font-family: "fontelico", sans-serif;
  font-size: 125px;
  color: #5a5858;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #5a5858;
}

p {
    margin-bottom: 25px;
}

a {
    color: #5a5858;
}

a:hover {
    color: #8d0c0c;
}

h1.clear {
    clear: right;
}

h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: -10px;
}

h4 {
    color: #5a5858;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding-top: 5px;
}

#gradient-gray { /* Gradient for footer section */
    background: #5a5858; /* Solid color for browsers that don't support gradients */
    background: -webkit-linear-gradient(left top, #5a5858, #d9d8d8);
    background: -o-linear-gradient(bottom right, #5a5858, #d9d8d8);
    background: -moz-linear-gradient(bottom right, #5a5858, #d9d8d8);
    background: linear-gradient(to bottom right, #5a5858, #d9d8d8);
    height: 125px;
    margin-top: -10px;
    max-width: 100%;
}

#featured-work { /* Featured Work section of page */
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#main { /* Main section of page */
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-red {
    color: #8d0c0c;
}

.text-muted {
    color: #6b2e2e;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 30px;
}

.title-medium {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.title-small {
    font-family: 'Merriweather', serif;
    font-size: 21px;
}

.footer-text {
    padding-top: 25px;
}

.hero-image {
    border-bottom: 5px;
    display: block;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    padding-bottom: 20px;
}

.title-img-responsive {
    display: block;
    height: auto;
    margin-bottom: 15px;
    max-width: 100%;
}

.gradient-col-md-12 {
    min-height: 100px;
    position: relative;
    padding: 0;
}

.hr-rule-bottom {
    border-bottom: 3px solid #8d0c0c;
    margin-bottom: 15px;
}

.hr-rule-hero {
    border-top: 3px solid #8d0c0c;
    padding: 10px;
}

.hr-rule-top {
    border-top: 3px solid #8d0c0c;
}

/* Media queries for customized breakpoints */
@media screen and (max-width: 990px) {
    .title-img-responsive {
        float: right;
        max-width: 100%;
        overflow: auto;
    }
}

@media screen and (max-width: 790px) {
    .img-responsive {
        max-width: 65%;
    }
    .title-small {
        font-size: 18px;
    }
}

@media screen and (max-width: 405px) {
    .img-responsive {
        max-width: 75%;
    }
    .title-small {
        font-size: 16px;
    }
    [class*="fontelico-"]:before {
        color: #5a5858;
        font-family: 'fontelico', sans-serif;
        font-size: 100px;
    }
}

@media screen and (max-width: 300px) {
    [class*="fontelico-"]:before {
        color: #5a5858;
        font-family: 'fontelico', sans-serif;
        font-size: 75px;
    }
}